<div class="about-container">
    <section class="about-intro">
      <h1>About Us</h1>
      <p>
        Welcome to Cocotownrealtors! We are a passionate real estate company dedicated to offering premium
        services to our customers. With years of experience and an innovative approach, we strive to
        redefine real estate experiences.
      </p>
    </section>
  
    <section class="about-details">
      <div class="about-text">
        <h2>Our Mission</h2>
        <p>
            Our mission is to connect buyers through an innovative, reliable platform that offers comprehensive listings, detailed property insights, and exceptional customer service. 
            We strive to empower individuals with the tools and information they need to make informed purchasing decisions, fostering trust and satisfaction in every buying experience.
        </p>
      </div>
      <div class="about-image">
        <img src="assets/images/mission1.jpeg" alt="Our Mission" />
      </div>
    </section>
  
    <section class="about-details">
      <div class="about-image">
        <img src="assets/images/vision1.jpeg" alt="Our Vision" />
      </div>
      <div class="about-text">
        <h2>Our Vision</h2>
        <p>
            To transform the real estate landscape by becoming the leading online platform for buying plots, we aim to offer a seamless, transparent, and user-centric experience. 
            We envision a future where finding and acquiring the perfect plot is simple, efficient, and accessible to all.
        </p>
      </div>
    </section>
  </div>
  